.accordion__chk {
    display: none;
}

.accordion p {
    overflow: hidden;
    max-height: 30vh;
    opacity: 1;
    transition:1s;
}

/* чекбокс выбран -- прячем контент */
.accordion .accordion__chk:checked ~ p {  
    max-height: 0;
    opacity: 0;
    transition: 1s;
}